{% load widget_tweaks %}

<!-- {{ field.label }}-->


<div class="{% if class %}{{ class }}{% else %}form-group{% endif %}">
   {% if not nolabel %}<label class="{% if field.field.required or required %}text-semibold{% endif %}
         {% if field.errors %}text-danger{% endif %} cursor-pointer {% if help_icon %}justify-content-between{% endif %}"
                              for="{{ field.auto_id }}">
       {% if help_icon %}
        <button type="button" class="btn btn-light btn-sm" data-popup="popover"
                    data-trigger="hover" data-content="{{ field.help_text }}">
                <i class="icon-help"></i></button>
       {% endif %}
        {{ field.label }}
        {% if field.field.required or required %}<span class="text-danger">*</span>{% endif %}
    </label>{% endif %}
    <div {% if not class %}class="form-group"{% endif %}>
        {% if addon %}
            <div class="input-group">{% endif %}

        {% if type %}
            {% render_field field class+="form-control" type=type data-kw=kw %}
        {% elif redactor_full %}
            {% render_field field class+="form-control redactor-full" data-kw=kw %}
        {% else %}
            {% render_field field class+="form-control" data-kw=kw %}
        {% endif %}
        {% if addon %} <span class="input-group-addon">{{ addon_text }}</span></div>{% endif %}

        {% if field.errors and not addon %}
            <div class="form-control-feedback text-danger">
                <i class="icon-cancel-circle2"></i>
            </div>
        {% endif %}
        <span class="form-text text-muted">
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {% if not help_icon %}{{ field.help_text }}{% endif %}
        </span>
    </div>
</div>
