{% extends 'limit_admin2/base.html' %}{% load static widget_tweaks %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>Вы уверены?</h5>
        </div>
        <div class="card-body">
            Вы уверены, что хотите удалить выбранные объекты?
            {% block content_objects %}
                <ul>
                    {% for item in selected %}
                        <li><strong>"{{ item.title }}"</strong></li>
                    {% endfor %}
                </ul>
            {% endblock %}
            Имейте в виду, что все связанные с ними объекты тоже будут удалены.
            <form class="mt-20" action="." method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <div class="text-right">
                    <a href="#" onclick="window.history.back(); return false;" class="btn bg-teal-400 btn-xlg btn-labeled btn-labeled-left">
                        <b><i class="icon-checkmark3 position-left"></i></b>Нет, отменить и вернуться к выбору</a>
                    <button type="submit" class="btn btn-danger btn-xlg btn-labeled btn-labeled-left">
                        <b><i class="icon-x position-left"></i></b>Да, я уверен</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


