{% load static thumbnail  %}
<div class="navbar navbar-expand-md navbar-light border-transparent">
  <!-- Header with logo -->
  <div class="navbar-brand">
<!--    <a href="/" class="d-inline-block">-->
       <img src="{% static 'img/logo.png' %}" alt="Siteedu.ru">
<!--    </a>-->
  </div>
  <!-- /header with logo -->
  <!-- Mobile controls -->
  <div class="d-flex d-md-none">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
      <i class="icon-tree5"></i>
    </button>
    <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
      <i class="icon-paragraph-justify3"></i>
    </button>
  </div>
  <!-- /mobile controls -->
  <!-- Navbar content -->
  <div class="collapse navbar-collapse" id="navbar-mobile">
    <ul class="navbar-nav">
{#      {% info_modal %}#}
    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link">
          <i class="icon-bell2"></i>
          <span class="d-md-none ml-2">Уведомления</span>
          <span class="badge badge-mark border-white"></span>
        </a>
      </li>

      <li class="nav-item dropdown dropdown-user">
        <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
{#          <img src="../../../../global_assets/images/image.png" class="rounded-circle mr-2" height="34" alt="">#}
          <span>{{ request.user }}</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /navbar content -->
</div>
