<div class="btn-group toolbar-on-main">
  <button class="btn btn-outline-info dropdown-toggle btn-filter-on_main" data-toggle="dropdown"
          aria-expanded="true"><i class="fas fa-filter"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
    <a href="#" class="dropdown-item btn-filter-status" data-action="on_main">
      <span class="badge badge-mark mr-2 border-indigo"></span>Статус: Все
    </a>
    <a href="#" class="dropdown-item btn-filter-status" data-action="on_main" rel="True">
      <span class="badge badge-mark mr-2 border-success"></span>Статус: на главной
    </a>
    <a href="#" class="dropdown-item btn-filter-status" data-action="on_main" rel="False">
      <span class="badge badge-mark mr-2 border-danger"></span>Статус: Скрыты на главной
    </a>
  </div>
</div>
