<div class="btn-group toolbar-publsih">
  <button class="btn btn-outline-primary dropdown-toggle btn-filter-publish" data-toggle="dropdown"
          aria-expanded="true"><i class="fas fa-filter"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
    <a href="#" class="dropdown-item btn-filter-status"><span class="badge badge-mark mr-2 border-indigo"></span>Статус: Все</a>
    <a href="#" class="dropdown-item btn-filter-status" rel="True"><span class="badge badge-mark mr-2 border-success"></span>Статус: Опубликованые</a>
    <a href="#" class="dropdown-item btn-filter-status" rel="False"><span class="badge badge-mark mr-2 border-danger"></span>Статус: Скрыты</a>
  </div>
</div>
