{% extends 'base.html' %}

{% load static cookie %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card card-body border-top-teal">
                <div class="list-feed">
                    <div class="list-feed-item">
                        <a href="#">Зайченков Валерий Сергеевич</a> добавил данные к критериию <a href="#">#3</a> муниципалитета <a href="#">Лабытнанги</a>
                        <div class="text-muted">Октябрь 31, 16:47</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Васильев Сергей Владимирович</a> добавил данные к критериию <a href="#">#7</a> муниципалитета <a href="#">Надым</a>
                        <div class="text-muted">Октябрь 31, 15:42</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Фокин Власий Георгиевич</a> добавил данные к критериию <a href="#">#1</a> муниципалитета <a href="#">Муравленко</a>
                        <div class="text-muted">Октябрь 31, 15:11</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Ларионов Велорий Леонидович</a> добавил данные к критериию <a href="#">#5</a> муниципалитета <a href="#">Лабытнанги</a>
                        <div class="text-muted">Октябрь 31, 14:27</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Андреев Вольдемар Алексеевич</a> добавил данные к критериию <a href="#">#4</a> муниципалитета <a href="#">Надым</a>
                        <div class="text-muted">Октябрь 31, 12:47</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Харитонов Юстин Робертович</a> добавил данные к критериию <a href="#">#7</a> муниципалитета <a href="#">Новый Уренгой</a>
                        <div class="text-muted">Октябрь 31, 12:12</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Евсеев Афанасий Геласьевич</a> добавил данные к критериию <a href="#">#1</a> муниципалитета <a href="#">Новый Уренгой</a>
                        <div class="text-muted">Октябрь 31, 11:25</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Родионов Орест Романович</a> добавил данные к критериию <a href="#">#2</a> муниципалитета <a href="#">Новый Уренгой</a>
                        <div class="text-muted">Октябрь 31, 11:01</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Никитин Мирон Богуславович</a> добавил данные к критериию <a href="#">#6</a> муниципалитета <a href="#">Ноябрьск</a>
                        <div class="text-muted">Октябрь 31, 10:12</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Исаков Гаянэ Юлианович</a> добавил данные к критериию <a href="#">#8</a> муниципалитета <a href="#">Ноябрьск</a>
                        <div class="text-muted">Октябрь 31, 09:47</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Павлов Адриан Куприянович</a> добавил данные к критериию <a href="#">#8</a> муниципалитета <a href="#">Лабытнанги</a>
                        <div class="text-muted">Октябрь 31, 08:07</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Титов Назарий Авдеевич</a> добавил данные к критериию <a href="#">#6</a> муниципалитета <a href="#">Ноябрьск</a>
                        <div class="text-muted">Октябрь 31, 00:42</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Горбачёв Захар Мартынович</a> добавил данные к критериию <a href="#">#5</a> муниципалитета <a href="#">Лабытнанги</a>
                        <div class="text-muted">Октябрь 30, 23:47</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Князев Леонард Германнович</a> добавил данные к критериию <a href="#">#1</a> муниципалитета <a href="#">Губкинский</a>
                        <div class="text-muted">Октябрь 30, 23:15</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Карпов Аскольд Семёнович</a> добавил данные к критериию <a href="#">#2</a> муниципалитета <a href="#">Губкинский</a>
                        <div class="text-muted">Октябрь 30, 22:12</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Ефимов Бронислав Федосеевич</a> добавил данные к критериию <a href="#">#3</a> муниципалитета <a href="#">Губкинский</a>
                        <div class="text-muted">Октябрь 30, 21:00</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Евдокимов Борис Иринеевич</a> добавил данные к критериию <a href="#">#8</a> муниципалитета <a href="#">Лабытнанги</a>
                        <div class="text-muted">Октябрь 30, 20:47</div>
                    </div>
                    <div class="list-feed-item">
                        <a href="#">Кулаков Мартын Лукьянович</a> добавил данные к критериию <a href="#">#2</a> муниципалитета <a href="#">Муравленко</a>
                        <div class="text-muted">Октябрь 30, 20:46</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}