{% extends 'base.html' %}

{% load static cookie %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-teal-400 text-center">
                    <h6 class="card-title">Интерактивная карта региона</h6>
                </div>

                <div class="card-body text-center">
                    <a href="/municipality/7/">
                        <div id="region_map" class="m-auto"></div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Индекс критериев</h5>
                </div>

                <div class="card-body">
                    <p class="mb-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" name="stacked-multiple" class="stacked-multiple" value="multiples" checked data-fouc>
                            Отделить
                        </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" name="stacked-multiple" class="stacked-multiple" value="stacked" data-fouc>
                            Совмещенно
                        </label>
                    </div>
                    </p>

                    <div class="chart-container">
                        <div class="chart" id="d3-bar-stacked-multiples"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header bg-teal-400 text-white header-elements-inline">
                    <h6 class="card-title">Перечень городов</h6>
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush municipality-list">
                        {% for item in municipality %}

                            <a href="{% url "municipality:detail" item.pk %}" class="list-group-item list-group-item-action">
                            <span class="font-weight-bold">
                                <i class="icon-city mr-2"></i>
                                {{ item }}
                            </span>
                                <span class="badge {% if item.get_index < 4 %}bg-info{% elif item.get_index < 7 %}bg-warning{% elif item.get_index < 5 %}bg-danger{% else %}bg-success{% endif %} ml-auto"> {{ item.get_index }}</span>
                            </a>
                        {% endfor %}

                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <span>Общий индекс</span>
                    <span class="text-muted">Обновлено 2 часа назад</span>
                    <span>
                        <span class="badge bg-success ml-auto">{{ general_index }}</span>
					</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}