{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-teal-400 text-center">
                    <h6 class="card-title">Интерактивная карта региона</h6>
                </div>

                <div class="card-body text-center">
                    <img src="{% static "dashboard/main_map.png" %}" class="shadow p-2" alt="">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-teal-400 text-white header-elements-inline">
                    <h6 class="card-title">Custom dark color</h6>
                </div>

                <div class="card-body">
                    Lorem ipsum dolor sit.
                </div>
            </div>
        </div>
    </div>

{% endblock %}