{% extends 'base.html' %}

{% load static cookie %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-teal-400 text-center">
                    <h6 class="card-title">Интерактивная карта региона</h6>
                </div>

                <div class="card-body text-center">
                    <img src="{% static "dashboard/main_map.png" %}" class="shadow p-2" alt="">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-teal-400 text-white header-elements-inline">
                    <h6 class="card-title">Перечень городов</h6>
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush border-top">
                        <a href="#" class="list-group-item list-group-item-action">
                            <span class="font-weight-semibold">
                                <i class="icon-city mr-2"></i>
                                Салехард
                            </span>
                            <span class="badge bg-success ml-auto">5.6</span>
                        </a>

                        <a href="" class="list-group-item list-group-item-action">
                            <span class="font-weight-semibold">
                                <i class="icon-city mr-2"></i>
                                Новый Уренгой
                            </span>
                        </a>

                        <a href="" class="list-group-item list-group-item-action">
                            <span class="font-weight-semibold">
                                <i class="icon-city mr-2"></i>
                                Лабытнанги
                            </span>
                        </a>
                        <a href="" class="list-group-item list-group-item-action">
                            <span class="font-weight-semibold">
                                <i class="icon-city mr-2"></i>
                                Надым
                            </span>
                        </a>
                        <a href="" class="list-group-item list-group-item-action">
                            <span class="font-weight-semibold">
                                <i class="icon-city mr-2"></i>
                                Муравленко
                            </span>
                        </a>
                        <a href="" class="list-group-item list-group-item-action">
                            <span class="font-weight-semibold">
                                <i class="icon-city mr-2"></i>
                                Ноябрьск
                            </span>
                        </a>
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <span>Общий рейтинг</span>
                    <span class="text-muted">Обновлено 2 часа назад</span>
                    <span>
                        <span class="badge bg-success ml-auto">5.6</span>
					</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}