{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/font-awesome/all.min.css' %}">
    <link href="{% static 'assets/css/panel.css' %}" rel="stylesheet">
</head>
<body {% block app-profile %}class=""{% endblock %}>
{% block body %}
    <div class='loader'>
        <div class='spinner-grow text-primary' role='status'>
            <span class='sr-only'>Loading...</span>
        </div>
    </div>
    <div class="connect-container align-content-stretch d-flex flex-wrap">
        {% block container %}{% endblock %}
    </div>
{% endblock %}


{% block js %}
    <!-- Javascripts -->
    <script src="{% static 'assets/plugins/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'assets/plugins/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/plugins/blockui/jquery.blockUI.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/jquery.flot.time.min.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/jquery.flot.symbol.min.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/jquery.flot.resize.min.js' %}"></script>
    <script src="{% static 'assets/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'assets/js/connect.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chartjs/chart.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>
{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>