{% extends 'limit_admin2/base.html' %}
{% block title %}{{ page_title }}{% endblock title %}
{% block page-name %}{{ page_title }}{% endblock page-name %}

{% block content %}
  {% include "limit_admin2/form/messages.html" %}
  <div class="card">
    {% block card-header %}{% endblock %}
    {% comment %}
      Example card-header:
        <div class="card-header bg-white header-elements-inline">
        <h6 class="card-title">Добавить:</h6>
        <div class="header-elements">
          <a type="button" class="btn bg-blue btn-sm btn-labeled btn-labeled-left">
            <b><i class="icon-download"></i></b> Новый документ
          </a>
          <a type="button" class="btn bg-pink-400  btn-sm btn-labeled btn-labeled-left ml-3">
            <b><i class="icon-plus-circle2"></i></b> Категорию документов
          </a>
        </div>
      </div>
     {% endcomment %}
    <div class="card-body">
      {% block card-body %}{% endblock card-body %}
    </div>
    {% block card-footer %}{% endblock %}
    {% comment %}
      Example card-footer:
      <div class="card-footer d-flex justify-content-between align-items-center">
        <div class="text-muted">
          <i class=" icon-eye4"> </i> {{ object.show_count }} Просмотров
        </div>
        <span>{% include 'limit_admin2/partials/_likes.html' with object=object text=True %}</span>
      </div>
     {% endcomment %}
  </div>
{% endblock %}
