{% extends 'base.html' %}

{% block content %}
  {% include "form/messages.html" %}
  <div class="col-lg-10 col-lg-offset-4 col-md-12 col-sm-12">
    <div class="card">
      {% block card-header %}{% endblock %}
      <form id="{{ form.get_id }}"
            class="{{ form.get_class }}"
            action="{{ form.get_action }}"
            method="{{ form.get_method }}"
            enctype="{{ form.get_enctype }}">
        <div class="card-body">
          {% include "form/errors.html" %}
          {% block form_edit %}{% endblock form_edit %}
        </div>
        {% block card-footer %}{% endblock %}
      </form>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12">
  {% block info %}{% endblock %}
  </div>
{% endblock %}
