{% extends "base.html" %}
{% load static %}

{% block container %}
    <div class="h-auto w-100" style="background-image: url({% static "assets/img/bg-index.png" %})">

    <div class="row project-name-card">
        <div class="offset-1 col-6">
            <h2>Информационно-аналитическая система

            </h2>
            <h1  class="text-primary">#СитиВижн</h1>


            <a href="" class="w-25 mt-5 btn btn-primary btn-lg text-uppercase">Войти</a>
        </div>
    </div>

    </div>
{% endblock %}