{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">
                <a class="text-default collapsed" data-toggle="collapse" href="#collapsible-control-right-group2" aria-expanded="false">Collapsible Item #2</a>
            </h6>
        </div>

        <div id="collapsible-control-right-group2" class="collapse" style="">
            <div class="card-body">
                Тon cupidatat skateboard dolor brunch. Тesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda.
            </div>
        </div>
    </div>
{% endblock %}