{% extends "base.html" %}

{% block content %}
    {% include "form/messages.html" %}
    <div class="row mt-2 mb-3">
        <div class="col-2 px-0">
            <a class="btn btn-primary bg-primary w-100" href="{% url 'municipality:criteria_add' %}">
                <i class="icon-plus2"></i>
                Добавить Критерии/Индикатор (единица измерения)
            </a>
        </div>
    </div>
    <div class="criteries">
        {% for item in object_list %}
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">
                        <a class="text-default collapsed" data-toggle="collapse"
                           href="#criteries-{{ item.pk }}" aria-expanded="false"><strong>Критерий #{{ item.pk }}.</strong> {{ item }}</a>
                    </h6>
                </div>

                <div id="criteries-{{ item.pk }}" class="collapse" style="">
                    <div class="card-body">
                        <p><span>Описание:</span> {{ item.description }}</p>
                        <span>Подключение к API: </span> {{ item.api }}
                        <p><span>Применен к : </span>
                        {% for i in item.municipality.all %}
                            <a href="{% url "municipality:detail" i.pk %}"><span class="badge badge-light">{{ i }}</span></a>,
                        {% endfor %}</p>

                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{% url 'municipality:criteria_edit' item.pk %}">Редактировать</a>

                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}