{% extends "base.html" %}

{% load static cookie %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <div class="card bg-indigo-400"
                 style="background-image: url({% static "dashboard/panel_bg.png" %}); background-size: contain;">
                <div class="card-body text-center">
                    <div class="card-img-actions d-inline-block mb-3">
                        <img class="img-fluid" src="{{ item.city.icon.url }}" height="170" alt="">
                    </div>

                    <h4 class="font-weight-semibold mb-0">{{ item }}</h4>
                    <span class="d-block opacity-75">{{ item.mayor }}<</span>

                    <div class="list-icons list-icons-extended mt-3">
                        <a href="#" class="list-icons-item text-white" data-popup="tooltip" title=""
                           data-container="body" data-original-title="Телефончик"><i class="icon-phone"></i></a>
                        <a href="#" class="list-icons-item text-white" data-popup="tooltip" title=""
                           data-container="body" data-original-title="Почта"><i class="icon-mailbox"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Карточка города</h5>
                    <p class="card-text">
                        {{ item.city.description|safe }}
                    </p>
                </div>

                <ul class="list-group list-group-flush border-top">
                    <li class="list-group-item">
                        <span class="font-weight-semibold">Глава города:</span>
                        <div class="ml-auto">{{ item.mayor }}</div>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-semibold">Телефон приемной:</span>
                        <div class="ml-auto">+7 999 999 999</div>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-semibold">Электронная почта:</span>
                        <div class="ml-auto"><a href="#">corporate@yanao.ru</a></div>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-semibold">Электронная почта:</span>
                        <div class="ml-auto"><a href="#">personal@domain.com</a></div>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-semibold">Заместитель главый:</span>
                        <div class="ml-auto"><a href="#">Сидоров Павел Павлов</a></div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="row criteries">
        {% for crit in item.criteria.all %}
            <div class="col-6">
                <div class="card card-collapsed">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title"><strong> Критерий #{{ crit.pk }}.</strong> {{ crit }}</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item rotate-180" data-action="collapse"></a>
                            </div>
                        </div>
                    </div>


                    <div class="card-footer bg-light d-flex justify-content-between" style="display: none;">
                        <div>
                            <div class="list-icons">
                                {% if crit.api_enable %}
                                    <a href="#" data-toggle="modal" data-target="#modal_default"
                                       class="list-icons-item btn btn-primary mr-5 text-white">
                                        <i class="icon-plus2 mr-2"></i>
                                        Добавить данные
                                    </a>
                                {% else %}
                                    <a href="#" class="list-icons-item btn btn-success mr-5 text-white block-card">
                                        <i class="icon-arrow-right13 r-2"></i>
                                        Получить данные
                                    </a>
                                {% endif %}
                                <div class="blockui-message bg-slate-700 text-white rounded p-2" style="display: none;">
                                    <i class="icon-spinner10 spinner mt-1"></i>
                                    <span class="font-weight-semibold d-block mt-2">Загрузка...</span>
                                </div>
                                <a href="#" class="list-icons-item ml-1"><i class="icon-file-pdf"></i></a>
                                <a href="#" class="list-icons-item ml-1"><i class="icon-file-excel"></i></a>
                            </div>
                        </div>

                        <ul class="list-inline list-inline-dotted mb-0 mt-1 mt-sm-0">
                            <li class="list-inline-item">Обновлен 3 дня назад</li>
                            <li class="list-inline-item">
                                <span class="badge bg-warning ml-auto">4.9</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="modal_default" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Загрузить данные</h5>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div class="modal-body">
                    <h6 class="font-weight-semibold">Загрузка данных</h6>
                    <p>Загрузка данных из файла JSON или CSV</p>
                    <hr>
                    <label>
                        <textarea rows="3" cols="3" class="form-control" placeholder="JSON data"></textarea>
                    </label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn bg-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}